[submodule "kwik"]
	path = kwik
	url = git@bitbucket.org:pjtr/kwik.git
[submodule "qpack"]
	path = qpack
	url = git@bitbucket.org:pjtr/qpack.git
[submodule "agent15"]
	path = agent15
	url = https://bitbucket.org/pjtr/agent15.git
